.input-box{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
}

.input-container{
    
    margin:20px;
    display: flex;
gap: 2px;
}

button{
    padding: 10px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;

    width:30%;
}